* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-top {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(238, 224, 208);
    
}
#navbar-color{
    color: rgba(238, 224, 208);

}
.navbar-nav{
    margin: auto;
}
.nav-item{
    margin-left: 30px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    transition: 0.5 ease;
    cursor: pointer;
}
.nav-item:hover{
    color: blue;

}

.social-link i {
    margin-left: 10px;
    cursor: pointer;
}

.social-link i:hover {
    color: rgba(238, 224, 208);
    border-radius: 50px;
}
@media screen and (max-width:400px){
    social-link i{
        width: 20px;
    }
}


.logo {
    font-weight: bold;
}

.icons i {
    margin-right: 10px;
    cursor: pointer;
}
.icons i:hover{
    color: rgba(238, 224, 208); 
}
@media screen and (max-width:400px){
    icons i{
        width: 20px;
    }
}

.content {
    margin-top: 150px;
    margin-left: 60px;
}

.content h1 {
    font-size: 50px;
}

#btn button {
    margin-left: 60px;
    border: 1px solid black;
    letter-spacing: 3px;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.5s ease;

}

#btn button:hover {
    background-color: rgba(238, 224, 208);
}
@media screen and (max-width){
    .content h1{
        font-size: 30px;
    }

}



.main-content {
    width: 100%;
    height: 90vh;
    background-image: url(./IMAGES/living\ area.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#btn1 button {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5 ease;
}

#btn1 button:hover {
    background-color: rgba(238, 224, 208);
}

#tpc {
    box-shadow: 0 0 5px black;
    transition: 0.5 ease;
    cursor: pointer;
}

#tpc:hover {
    transform: translateY(-10px);
}

.image3 {
    height: 300px;
}

#c p {
    font-weight: bold;
}

#btn3 button {
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5 ease;
    cursor: pointer;
}

#btn3 button:hover {
    background-color: rgba(238, 224, 208);

}

#btn3 {
    text-align: center;
}

.card shop {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.card img{
    height: 300px;
    object-fit: cover;
}

#btn4 button {
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5 ease;
    cursor: pointer;
}

#btn4 button:hover {
    background-color: rgba(238, 224, 208);

}

#footer {
    margin-top: 100px;
    background-color: rgba(238, 224, 208);
    width: 100%;

}
#footer h1{
    padding-top: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon:hover {
    background-image: linear-gradient(to bottom right, #FF3659, #FF92A5);

}
.footer-icon:hover .brands{
    color: white;
    animation: rotate 3s;
}
@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
   20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(30deg);
    }
}

.brands {
    font-size: 1.2rem;
}

.span-nav {
    color: #FF647F;
}

.copyright {
    margin-top: 5px;
}